::-webkit-scrollbar {
    display: none;
}

html, body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.my-canvas {
  pointer-events: none;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
}

.param-flip {
  transform: rotate(180deg);
}

.param-container {
  display: flex;
  flex-direction: column;
}

.viewport-scroll-bar {
  width: 100vw;
}
